<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script>
        function uuidv4() {
            return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            )
        }


        window.addEventListener("load", function(evt) {
            var output = document.getElementById("lblOutput");
            var input = document.getElementById("input");
            var ws;
            var print = function(message) {
                var d = document.createElement("div");
                d.innerHTML = message;
                output.insertBefore(d, output.firstChild);
            };
            document.getElementById("open").onclick = function(evt) {
                if (ws) {
                    return false;
                }
                var url = document.querySelector("#txtURL").value;                
                ws = new WebSocket(url);
                ws.onopen = function(evt) {
                    print("OPEN");
                }
                ws.onclose = function(evt) {
                    print("CLOSE");
                    ws = null;
                }
                ws.onmessage = function(evt) {
                    print("RESPONSE: " + evt.data);
                }
                ws.onerror = function(evt) {
                    print("ERROR content: " + evt.data);
                }
                return false;
            };
            document.getElementById("close").onclick = function(evt) {
                if (!ws) {
                    return false;
                }
                ws.close(1000, "close");
                return false;
            };
            document.getElementById("clear").onclick = function(evt) {
                while (output.firstChild) {
                    output.removeChild(output.firstChild);
                }
                return false;
            };
            document.getElementById("join").onclick = function(evt) {
                if (!ws) {
                    return false;
                }
                roomID = document.querySelector("#txtRoomID");
                print("JOIN: " + roomID.value);
                ws.send(JSON.stringify({op: "JOIN", data: {"room_id": roomID.value}}));
                return false;
            };
            document.getElementById("leave").onclick = function(evt) {
                if (!ws) {
                    return false;
                }
                roomID = document.querySelector("#txtRoomID");
                print("LEVAE: " + roomID.value);
                ws.send(JSON.stringify({op: "LEAVE", data: {"room_id": roomID.value}}));
                return false;
            };
            document.getElementById("pushall").onclick = function(evt) {
                if (!ws) {
                    return false;
                }
                content = document.querySelector("#txtContent").value;
                print("PUSHALL: " + content.value);
                ws.send(JSON.stringify({op: "PUSHALL", data: content.value}));
                return false;
            };
            document.getElementById("pushroom").onclick = function(evt) {
                if (!ws) {
                    return false;
                }
                content = document.querySelector("#txtContent").value;
                var msg = {
                    seq_id: Math.round(new Date().getTime()/1000.0),
                    group_id: "2f592803-5866-474f-a688-a4fa5a58dda9",
                    type: 2,
                    content: content
                }
                print("PUSHROOM: " + msg.content);
                ws.send(JSON.stringify({op: "PUSHROOM", data: msg.content}));
                return false;
            };
            document.getElementById("msg").onclick = function(evt) {
                if (!ws) {
                    return false;
                }
                content = document.querySelector("#txtContent").value;
                var msg = {
                    seq_id: Math.round(new Date().getTime()/1000.0),
                    group_id: "2f592803-5866-474f-a688-a4fa5a58dda9",
                    type: 2,
                    content: content
                }
                print("MSG: " + msg.content);
                ws.send(JSON.stringify({req_id: uuidv4(), op: "MSG", data: msg}));
                return false;
            };
        });
    </script>
</head>
<body>
<table width="100%">
    <tr><td valign="top" width="50%">
        <form>
        <p>
            <input id="txtURL" type="text" value="ws://localhost:19999/rooms/abc" style="width:200px">
            <button id="open">Open</button>
            <button id="close">Close</button>
        </p>
        <p>
            <input id="txtRoomID" type="text" value="ROA">
            <button id="join">JOIN</button>
            <button id="leave">LEAVE</button><br/>
        </p>
        <p>
            <input text="textarea" id="txtContent" value="hello world"/>
            <button id="pushall">PUSHALL</button>
            <button id="pushroom">PUSHROOM</button>
            <button id="msg">MSG</button>
        </p>
        <p>
        <button id="clear">Clear</button>
        </p>
        </form>
    </td><td valign="top" width="50%">
        <div id="lblOutput"></div>
    </td></tr></table>
</body>
</html>